h3([textContent]='translate.trans("settings.title")')
.mb-3([textContent]='translate.trans("settings.sub_title")')

.row
    .col-md-12
        .form-line
            .header
                .title
                    i.fas.fa-fw.fa-power-off.mr-2
                    span([textContent]='translate.trans("settings.enabled")')
            toggle([(ngModel)]='settings.enabled')

        .form-line
            .header
                .title
                    i.fas.fa-fw.fa-link.mr-2
                    span([textContent]='translate.trans("settings.entry_url")')
            input.form-control([(ngModel)]='settings.entryUrl', type='text')
            small.text-muted([textContent]='translate.trans("settings.entry_url_hint")')

        .form-line
            .header
                .title
                    i.fas.fa-fw.fa-lock-open.mr-2
                    span([textContent]='translate.trans("settings.wait_for_unlock")')
            toggle([(ngModel)]='settings.waitForUnlock')
            small.text-muted([textContent]='translate.trans("settings.wait_for_unlock_hint")')

        .form-line.association-status
            .header
                .title
                    i.fas.fa-fw.fa-plug.mr-2
                    span([textContent]='translate.trans("settings.association_status")')
            span.status-badge([class.status-ok]='associationStatus === "ok"', [class.status-fail]='associationStatus === "fail"') {{ associationStatusLabel() }}

        .form-line.actions
            button.btn.btn-primary.mr-2(type='button', (click)='saveSettings()', [disabled]='saving')
                i.fas.fa-save.mr-1
                span([textContent]='translate.trans("settings.save")')
            button.btn.btn-warning.mr-2(type='button', (click)='associateWithKeePassXC()', [disabled]='associating')
                i.fas.fa-link.mr-1
                span([textContent]='translate.trans("settings.associate")')
            button.btn.btn-secondary.mr-2(type='button', (click)='testFetch()', [disabled]='testing')
                i.fas.fa-vial.mr-1
                span([textContent]='translate.trans("settings.test_fetch")')
